.ant-divider{
  color: white !important;
  font-size: 25px !important;
  border-top-color: white !important;
}

#tombol-tambah{
  background-color: #4cf55a;
  color: #282c34;
}

#tombol-kurang{
  margin: 0 10px 0 10px !important;
  background-color: #ffc443;
  color: #282c34;
}

#tombol-reset{
  background-color: #ff5741;
  color: #282c34;
}

#nilai{
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
